@import "colors.scss";

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

main {
  width: 100%;
}

section {
  padding: 20px 0px;
}

.featuresBlock {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.feature {
  width: 250px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.pollBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $creamBrulee;
}

.pollTitle {
  text-align: center;
}

.poll {
  width: 700px;
  margin: 5px;
  padding: 5px 15px 15px;
}

@media only screen and (max-width: 768px) {
  .content {
    width: unset;
  }

  .poll {
    width: calc(100% - 50px);
  }
}

@media only screen and (max-width: 599px) {
  .feature {
    width: 100%;
    align-items: center;
  }
}