@import "../../../colors.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pollForm {
    width: 700px;
    margin: 20px 0px;
}

.errorLabel {
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-size: 16px;
    color: darkred;
    font-weight: bold;
}

.questionHeader {
    padding: 10px 20px;
    background-color: $fuelYellow;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    overflow-wrap: anywhere;
}

.pollButton {
    height: 40px;
    width: 120px;
    font-weight: bold;
    font-size: 16px;
}

.sendButton {
    margin: 5px 5px 5px 0px;
    background-color: $fuelYellow;
}

.resultsButton {
    margin: 5px;
    background-color: $goldenrod;
}

.infoContainer {
    margin: 5px 3px;
}

@media screen and (max-width: 768px) {
    .pollForm {
        width: 100%;
        margin: 10px;
    }
}
